body	{
	background-image: url("kart4.jpg");
	background-size: cover;
	background-color: rgb(12,12,12);
	background-blend-mode: screen;
}

h1	{
	color:rgb(68,68,108);
	text-align: center;
	font-size: 40px;
	font-family:'Courier New', monospace;
}

